/*Centered Horizontal Bar*/
#main-navbar{
  background-color: blue;
  overflow: hidden;
}
#navbar-container{
  width: 100%;
  float: left;
  position: relative;
}

#navbar-container ul{
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  left: 50%;

}
#navbar-container ul li{
  float: left;
  position: relative;
  right: 50%;
}
#navbar-container ul li a{
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}
#navbar-container ul li a:hover{
  background-color: #000;
  display: block;
  text-decoration: underline overline;
}

#main-navbar #onpage{
  color: #fff;
  text-decoration: underline overline;
}

/*Side Bar CSS*/
#sidebar{
  background-color: red;
}
#sidebar-container{
  background-color: red;
  position: fixed;
  right: 0%;
  width: 20%;
  height: 100%;
}
#sidebar-container ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
}
#sidebar-container ul li{
display: block;
padding: 15px 0;
}
#sidebar-container ul li a{
  color: #fff;
  text-decoration: none;
}
#sidebar-container ul li a:hover{
  background-color: #000;
}
